In [1]:
print("hello")
proper=input("Enter the ticker for history fetch")

hello

Enter the ticker for history fetch 23

# check if particular package is installed or yet to be installed

In [3]:
#!pip list
!pip show pyodbc 
!pip show pandas 
!pip show sqlalchemy

Name: pyodbc
Version: 5.0.1
Summary: DB API module for ODBC
Home-page: https://github.com/mkleehammer/pyodbc
Author:
Author-email: Michael Kleehammer <michael@kleehammer.com>
License: MIT License
Location: C:\Users\mavul\anaconda3\Lib\site-packages
Requires:
Required-by:
Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Users\mavul\anaconda3\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, bokeh, dask-expr, datashader, holoviews, hvplot, panel, seaborn, statsmodels, streamlit, xarray, yfinance
Name: SQLAlchemy
Version: 2.0.30
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: C:\Users\mavul\anaconda3\Lib\site-packages
Requires: greenlet, typing-extensions
Required-by:

# package for importing all the historic data fetching

In [5]:
#pip install python-dotenv
from sqlalchemy import create_engine,text
import pandas as pd
import os
from dotenv import load_dotenv
import urllib.parse

In [6]:
# pip install yfinance  # ignore if already installed
import yfinance as f

# loading .env file

In [8]:
#use .env file to fetch the db credentials
load_dotenv()
server = os.getenv('DB_SERVER')
database = os.getenv('DB_DATABASE')
username = os.getenv('DB_USERNAME')
password = os.getenv('DB_PASSWORD')
password = urllib.parse.quote_plus(password)
driver = 'ODBC+Driver+17+for+SQL+Server'

# Database connection

In [10]:
#connection string
'''connection_string = f""" 
DRIVER={{{driver}}};
SERVER={server};
DATABASE={database};
UID={username};
PWD={password};
"""
'''

#pyodbc connection
"""
connection_string = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')
cursor = connection_string.cursor()
cursor.execute("select * from Users")
rows = cursor.fetchall()
if(len(rows)==0):
    print("empty")
for row in rows:
    print(row)
connection_string.close()
"""
# check cnctn string
#print(connection_string)
print("yes")

yes

In [11]:
#sqlalchemy
connection_string = f'mssql+pyodbc://{server}/{database}?driver={driver}&trusted_connection=yes'
print(connection_string)
engine = create_engine(connection_string)

mssql+pyodbc://DESKTOP-03OG7NU/yahoo?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

In [12]:
query="SELECT * FROM Users"
with engine.connect() as connection:
    result = connection.execute(text(query))
    # Fetch and print the results
    for row in result:
        print(row)
#or
#this is a better way cause we don't have to use a cursor to check if the 
engine = create_engine(connection_string)

# Use pandas to execute the SQL query and fetch the results directly into a DataFrame
df = pd.read_sql(query, engine)
print(df)

Empty DataFrame
Columns: [UserID, FirstName, LastName, Email, DateOfBirth]
Index: []

# creating object to download data

In [14]:
## -----------------------------------basic methods to try on data------------------
ticker = f.Ticker("AAPL")
# # basic info can be found , uncomment to explore
# there are n number of feilds
# info= ticker.info
# print(info["longName"])
act= ticker.actions
print(act)
# sus= ticker.sustainability
# print(sus)
data = ticker.history(period="1y")
#data.info()
#type(data)
#print(data)

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2023-11-10 00:00:00-05:00   0.240000           0.0
2024-02-09 00:00:00-05:00   0.240000           0.0
2024-05-10 00:00:00-04:00   0.250000           0.0
2024-08-12 00:00:00-04:00   0.250000           0.0
2024-11-08 00:00:00-05:00   0.250000           0.0

[90 rows x 2 columns]

In [15]:
ticker_list=['AAPL']
data = f.download(ticker_list, start="2017-01-01", end="2017-04-30")

[*********************100%%**********************]  1 of 1 completed

In [30]:
data

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  26.891962  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  26.861860   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  26.998463   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.299450  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.549500  134247600
...               ...        ...        ...        ...        ...        ...
2017-04-24  35.875000  35.987499  35.794998  35.910000  33.400845   68537200
2017-04-25  35.977501  36.224998  35.967499  36.132500  33.607800   75486000
2017-04-26  36.117500  36.150002  35.845001  35.919998  33.410152   80164800
2017-04-27  35.980000  36.040001  35.827499  35.947498  33.435730   56985200
2017-04-28  36.022499  36.075001  35.817501  35.912498  33.403172   83441600

[81 rows x 6 columns]